* {
  margin: 0;
}

body {
  // background-color: rgb(229, 252, 236);
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: rgb(119, 158, 132);
  // background: rgba(181, 247, 203, 1);
  // background: rgb(201, 249, 218);
  // background: linear-gradient(
  //   180deg,
  //   rgba(201, 249, 218, 1) 13%,
  //   rgb(181, 247, 203) 38%,
  //   rgb(129, 211, 156) 65%
  // );
  color: black;
  border: 0px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-light {
  border: none;

  background-color: #6bd58f;
  color: black;
  &:hover {
    color: white;
    background-color: #6bd58f;
  }
}

.MuiSvgIcon-root {
  &:hover {
    fill: white;
  }
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.landingModal {
  padding: 1.5em;
  Form {
    padding: 1em;
  }
}

#main {
  // &:before {
  //   background-image: url("../images/pink_ribbon.png");
  //   background-repeat: no-repeat;
  //   background-size: 300px 500px;
  //   background-position: center;
  //   opacity: 0.6;
  // }
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  #bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/pink_ribbon1.png") center center;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    opacity: 0.3;
    width: 100%;
    height: 100%;
  }
  // background-image: url("../images/pink_ribbon.png");
  // background-repeat: no-repeat;
  // background-size: 300px 500px;
  // background-position: center;
  // opacity: 0.3;
  max-height: 70vh;
  // min-height: 60vh;
  // height: 100%;
}

.landing {
  height: 100%;
  max-width: 300px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  button {
    width: fit-content;
  }
}

#landingLinks {
  align-self: center;
}

#fullLanding {
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: -1;
}

#loginsignup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
}

#gitLink {
  justify-content: center;
}

#about {
  a {
    color: rgb(184, 28, 93);
    &:hover {
      color: rgb(243, 128, 176);
    }
  }
  max-width: 80vw;
}

#openAbout {
  background: rgb(247, 175, 202);
  background: rgba(230, 128, 169, 1);

  border: none;
  color: black;
  &:hover {
    background-color: rgb(168, 26, 85);

    color: white;
  }
}

#hands {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/hands.png") center center;
  background-repeat: no-repeat;
  background-size: 100vw auto;
  opacity: 0.3;
  width: 100vw;
  // height: 100vh;
}

@media (max-width: 400px) {
  .landing {
    height: 90%;
    width: fit-content;
    max-width: 95vw;
    justify-content: space-between;
  }
  h1 {
    font-size: 16pt;
  }
  h4 {
    font-size: 12pt;
    // max-width: 45vw
  }
  h3 {
    font-size: 14pt;
    // max-width: 40vw;
  }
}
