* {
  margin: 0;
}

body {
  // background-color: rgb(229, 252, 236);
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: rgb(201, 249, 218);
  background: linear-gradient(
    180deg,
    rgba(201, 249, 218, 1) 8%,
    rgba(181, 247, 203, 1) 49%,
    rgba(129, 211, 156, 1) 83%
  );
  // background: rgb(201, 249, 218);
  // background: linear-gradient(
  //   180deg,
  //   rgba(201, 249, 218, 1) 13%,
  //   rgb(181, 247, 203) 38%,
  //   rgb(129, 211, 156) 65%
  // );
  color: black;
  border: 0px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    // background: rgb(137, 193, 155);
    // background: linear-gradient(
    //   180deg,
    //   rgba(137, 193, 155, 1) 3%,
    //   rgba(78, 144, 101, 1) 26%,
    //   rgba(33, 57, 41, 1) 62%
    // );
    background: rgb(146, 203, 167);
    background: linear-gradient(
      180deg,
      rgba(146, 203, 167, 1) 8%,
      rgba(65, 108, 79, 1) 45%,
      rgba(29, 52, 37, 1) 81%
    );
  }
}
.btn-light {
  border: 1px solid;
  border-color: rgb(119, 158, 132);
  color: black;
  &:hover {
    color: white;
  }
}

.MuiSvgIcon-root {
  &:hover {
    fill: white;
  }
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.landingModal {
  padding: 1.5em;
  Form {
    padding: 1em;
  }
}

#main {
  // &:before {
  //   background-image: url("../images/pink_ribbon.png");
  //   background-repeat: no-repeat;
  //   background-size: 300px 500px;
  //   background-position: center;
  //   opacity: 0.6;
  // }
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  #bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/pink_ribbon1.png") center center;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    opacity: 0.3;
    width: 100%;
    height: 100%;
  }
  // background-image: url("../images/pink_ribbon.png");
  // background-repeat: no-repeat;
  // background-size: 300px 500px;
  // background-position: center;
  // opacity: 0.3;
  max-height: 70vh;
  // min-height: 60vh;
  // height: 100%;
}

.landing {
  height: 100%;
  max-width: 500px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  button {
    width: fit-content;
  }
}

#fullLanding {
  height: 100%;
}

#loginsignup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 190px;
}

#gitLink {
  justify-content: center;
}

#about {
  a {
    color: rgb(184, 28, 93);
    &:hover {
      color: rgb(243, 128, 176);
    }
  }
  max-width: 80vw;
}

#openAbout {
  background: rgb(247, 175, 202);
  background: radial-gradient(
    circle,
    rgba(247, 175, 202, 1) 13%,
    rgba(230, 128, 169, 1) 50%,
    rgba(231, 136, 175, 1) 76%,
    rgba(238, 94, 154, 1) 91%
  );
  border: none;
  color: black;
  &:hover {
    background: rgb(247, 75, 138);
    background: radial-gradient(
      circle,
      rgba(247, 75, 138, 1) 13%,
      rgb(196, 60, 114) 50%,
      rgb(168, 26, 85) 76%,
      rgb(121, 17, 60) 91%
    );
    color: white;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 20pt;
  }
  h4 {
    font-size: 14pt;
  }
}
