.header {
  // justify-content: space-between;
}

.header-logo {
  height: 100px;
  object-fit: contain;
}

.header-icon {
  font-size: 7rem;
}

.navbar-expand-sm {
  .navbar-collapse {
    justify-content: flex-end;
  }
}

#basic-navbar-nav {
  justify-content: flex-end;
}

#mr {
  margin-right: 0;
}
