.navbar {
  padding: 0 15px;
}
.bg-light {
  background-color: rgb(255, 255, 255) !important;
}
.header-logo {
  height: 70px;
  object-fit: contain;
}

.header-icon {
  font-size: 7rem;
}

.navbar-expand-sm {
  .navbar-collapse {
    justify-content: flex-end;
  }
}

#basic-navbar-nav {
  justify-content: flex-end;
}

.mr-auto,
.mx-auto {
  margin-right: 0 !important;
}

.container {
  margin: 0;
  width: 100%;
  max-width: 100vw;
}

.footer-logo {
  height: 110px;
}
