.card {
  max-width: 45vw;
  min-width: 200px;
  max-height: 500px;
  min-height: 200px;
  margin: auto;

  background: rgba(242, 252, 247, 0.8);
  color: black;
  border: 2px solid rgb(82, 209, 139);
}
.card-header {
  border-bottom: 2px solid rgb(82, 209, 139);
}

//MODAL
.modal-dialog {
  margin: 5% auto;
  max-width: 500px;
}
.modal-header {
  .close {
    margin: 1px;
    padding: 7px 12px 8px;
    border-radius: 20px;
    background: rgb(247, 175, 202);
    background: radial-gradient(
      circle,
      rgba(247, 175, 202, 1) 13%,
      rgba(230, 128, 169, 1) 50%,
      rgba(231, 136, 175, 1) 76%,
      rgba(238, 94, 154, 1) 91%
    );
    color: rgb(15, 15, 15);
  }
}
